<%- include('layout.html'); %>

  <body>
    <table class="detalle" width='100%'>
      <tr class='generarExamen'>
        <td id='generaBoton'>
          <button class="generarExamen" onclick="$('#detalleExamen').show(); $('#generaBoton').hide()">
            GRENERA EXAMEN
          </button>
        </td>

        <td id="detalleExamen" class="detalleExamen">
          <table class="detalle">
            <form action="/sendDetail">
              <tr>
                <th colspan="2" class="detalleTitulo">DETALLE DE EXAMEN</th>
              </tr>
              <tr>
                <td colspan="2" class="detalleSubTitulo">Especificar datos del Examen</td>
              </tr>
              <tr>
                <td>Nombre Examen: </td>
                <td><input type="text" name="nombreExamen" id="nombreExamen" required></td>
              </tr>
              <tr>
                <td>Cantidad Preguntas: </td>
                <td class="noPreguntas">
                  <input type="radio" name="num" value="1" id="p1" checked>1<br>
                  <input type="radio" name="num" value="2" id="p2">2<br>
                  <input type="radio" name="num" value="3" id="p3">3<br>
                  <input type="radio" name="num" value="4" id="p4">4<br>
                  <input type="radio" name="num" value="5" id="p5">5<br>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="submit" value="ENVIAR">
                </td>
              </tr>
            </form>
          </table>
        </td>
      </tr>
    </table>
  </body>