body, table {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: calc(100% - 15px);
  height: 100%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

table {
  margin-top: 20px;
}

input, button{
  font-size: 17px;
  font-style: normal;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  margin: 15px;
  border-radius: 10px;
}

input[type=submit] {
  background-color: #9acacd;
  width: 100%; 
}
input[type=submit]:hover {
  background-color: #7cafb3;
}

input[type=text] {
  background-color: transparent;
}

input[type=text]:focus {
  background-color: white;
}

table tr td{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.detalle {
  background-color: #c7ddde;
}

#nombreExamen {
  width: 80%;
}

.datos{
  background-color: #c1c1c1;
  width: 100%;
}

.detalleTitulo {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.noPreguntas {
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
}

.detalleSubTitulo {
  font-family:'Courier New', Courier, monospace;
  font-size: 17px;
  text-align: center;
  padding-bottom: 20px;
  padding: 10px;
  margin: 20px;
}

.detalleExamen{
  display: none;
  font-size: 25px;
  width: 50%;
  text-align: left;
  padding: 10px;
  margin: 20px;
}

.generarExamen{
  font-size: 20px;
  width: 50%;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.titulo {
  margin: 0;
  font-weight: 600;
  background-color: #e1e1e1;
  color: #000000;
  font-size: 60px;
}

h1 {
  text-align: center;;
}

a {
  color: #00B7FF;
}
